body{
    background: linear-gradient(to bottom right, #000000,80%, #ffd700);
}
@font-face {
    font-family: 'Kirsty';
    src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
  }
  body {
    font-family: 'Kirsty', sans-serif;
  }
@font-face {
    font-family: 'Kirsty';
    src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
  }
  .titulohoodie{
  text-align: left;
  font-family: 'Kirsty', sans-serif;
  color: goldenrod;
}

.container{
  display: flex;
  justify-content: center;
  
}

.card{
  width: 300px;
  margin: 0 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}

.card img{
  width: 100%;
  height: auto;
}

.card .contenido{
  padding: 15px;
  text-align: center;
}

.card .contenido p{
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}

.card .contenido a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: aqua;
  border: 1px solid aqua;
  border-radius: 4px;
  transition: all 400ms ease;
}

@font-face {
  font-family: 'Kirsty';
  src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
}
.textotitulo{
text-align: center;
font-family: 'Kirsty', sans-serif;
color: goldenrod;
}

@font-face {
  font-family: 'Kirsty';
  src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
}
.textocontacto{
text-align: center;
font-family: 'Kirsty', sans-serif;
color: white;
}

.cardredes{
  color: goldenrod;
}

.carousel-slide2 img{
  width: 100%;
  height: auto;
  align-items: left;
}

.container-titulo{
  margin-left: 200px;
  padding: 30px;
  margin-bottom: 20px;
  color: white;

 
}

main{
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.container-img{
  margin-left: 200px;
  background-color: #f7f7f9 ;
  flex: 1;
}

.container-detalles-producto{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container.precio{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-precio span{
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.container-detalles-producto{
  padding: 30px 0;
}

.form-group{
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 15px;
}

.form-group label{
  width: 100px;
  color: gold;
  font-weight:700 ;

}

.form-group select{
  width: 300px;
  border: none;
  padding: 12px 15px;
  background-color: white;
  outline:none;
  color: #6a6a6a;

}

.btn-clean{
  border:none;
  background: none;
  color: white;
  margin-right: 500px;
  cursor: pointer;
}

.btn-clean:hover{
  color: gold
}

.btn-agregar-al-carro{
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  background:none;
  border:none;
  color: white;
}

.btn-agregar-al-carro:hover{
  color: gold;
}

.title-descripcion{
  color: gold;
  padding: 10px 0;
  display: flex;
  
}

.text-descripcion{
  color: white;
  font-size: 19px;
  line-height: 22px;
  margin-top: 15px;
}

.container-relacionados h2{
  color: gold;
  text-align: center;
  margin-bottom: 30px;
}


.card-list-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin:100px;
}

.card-relacionados{
  cursor:pointer;
}
.card-relacionados img{
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.info-card-relacionados{
  display:flex;
  justify-content: space-between;
}

.text-producto{
  color: white;
  font-weight: 300;
  line-height: 1.4;
}

.price{
  color: white;
  margin-right: 100px;
  
}