{% extends 'master/master.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

<form class="inisesion" method="post" action="{%url 'inicio' %}" onsubmit="return validarFormulario()">
  {% csrf_token %}
  <div class="form-group">
      <br><br><br><br>
      <label for="id_username" style="color: goldenrod; text-align: center; font-family: KirstyBd;">Ingrese su correo electrónico:</label>
      <br><br>
      <input type="email" name="username" class="form-control" id="id_username" placeholder="Ingrese correo electrónico" required>
      <br>
      <span id="mensajecorreo"></span>
  </div>
  <div class="form-group">
      <label for="id_password" style="color: goldenrod; text-align: center; font-family: KirstyBd;">Ingrese su Contraseña:</label>
      <br><br>
      <input type="password" name="password" class="form-control" id="id_password" placeholder="Contraseña..." required>
      <br>
      <span id="mensajecontra"></span>
  </div>
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" style="color: goldenrod; text-align: center; font-family: KirstyBd;">Recordarme</label>
      <br><br>
  </div>
  <button type="submit" class="btn btn-warning">Iniciar Sesión</button>
</form>


{% endblock %}