{%extends 'master/master.html' %}

{%load static%}


{%block content%}
<link rel="stylesheet" href="{% static 'css/estilo-v.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <br>
     
    
    <div class="container-titulo"><h2>Hoddie oversize heavyweight® gris melange</h2></div>
    <!--DIV IMAGEN -->
    <div class="container-fluid center">
      <div class="card-especifica mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/card2.webp' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" style="padding-left: 20px;">
            <div class="card-body">
              <div class="container-precio">
                <span>CLP$30.000</span>
              </div>
              <p class="card-text" style="color: goldenrod;">Nuevo Polerón canguro heavyweight color gris melange, calidad Premium, Material 100 % Algodón, 500 grs. Tela Pre encogida y suavizada. Fit oversize.</p>
              <div class="form-group">
                <label for="colour">Color</label>
                <select name="colour" id="colour">
                  <option disabled selected value="">Escoge una opción</option>
                  <option value="gris">Gris</option>
                  <option value="blanco">Blanco</option>
                  <option value="negro">Negro</option>
                </select>
              </div>
              <div class="form-group">
                <label for="size">Talla</label>
                <select name="size" id="size">
                  <option disabled selected value="">Escoge una opción</option>
                  <option value="s">S</option>
                  <option value="m">M</option>
                  <option value="l">L</option>
                  <option value="XL">XL</option>
                </select>
                <br>
                <br>
                
              </div>
              <button class="btn-clean" data-bs-toggle="modal" data-bs-target="#exampleModal">Limpiar</button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Proceso Limpio</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Pulse Aceptar para continuar...</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div>
                <a href="{% url 'formulario' %}" class="btn-agregar-al-carro">Añadir al carrito</a>
                <div class="container-agregar-carro">
                  <br>
                  <div class="container-cantidad">
                    <input type="number" name="" id="" placeholder="1" value="1" min="1">
                  </div>
                </div>
              </div>
              <p class="card-text";"><small class="text-body-secondary"">Últimas 10 unidades.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid container-relacionados">
      <h2>Productos Relacionados</h2>
      <div class="row card-list-products">
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <figure>
              <img src="{% static 'images/Hoodie-dragón.webp' %}" alt="Hoodie Dragón" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>$20.000</h3>
              <p>Hoodie Trendy Dragón</p>
              <a href="#">Ver</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <figure>
              <img src="{% static 'images/Hoodie Good Vibes.webp' %}" alt="Hoodie Good Vibes" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>$24.000</h3>
              <p>Hoodie Good Vibes</p>
              <a href="#">Ver</a>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/js/maindgo.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}