body{
    background: linear-gradient(to bottom right, #000000,80%, #ffd700);
}
@font-face {
    font-family: 'Kirsty';
    src: url('../fonts/kirsty bd.otf') format('opentype');
  }
  body {
    font-family: 'Kirsty', sans-serif;
  }
  .titulohoodie{
  text-align: left;
  font-family: 'Kirsty', sans-serif;
  color: goldenrod;
}

.container{
  display: flex;
  justify-content: center;
  
}

.card{
  position: relative;
  width: 300px;
  height: 550px ;
  margin: 0 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  background-color: black;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 400ms ease;
  justify-content: space-between;
  border: 4px solid transparent;
  color: goldenrod;
  }

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  border-color: darkgoldenrod;
  }

.card img{
width: 100%;
height: 300px;
}

.card .contenido{
padding: 15px;
text-align: center;
color: goldenrod;
}

.card .contenido p{
line-height: 1.5;
color: goldenrod;
}

.card .contenido h3{
font-weight: 400;
margin-bottom: 15px;
color: goldenrod;
}

.card .contenido a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: goldenrod;
  border: 4px solid goldenrod;
  border-radius: 4px;
  transition: all 400ms ease;
  }

.textotitulo{
text-align: center;
font-family: 'Kirsty', sans-serif;
color: goldenrod;
}
.textocontacto{
text-align: center;
font-family: 'Kirsty', sans-serif;
color: white;
}

.cardredes{
  color: goldenrod;
}

.carousel-slide2 img{
  width: 100%;
  height: auto;
  align-items: left;
}

.container-titulo{
  margin-left: 200px;
  padding: 30px;
  margin-bottom: 20px;
  color: white;

 
}

.Contenido-producto{
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
  width: auto;
  height: auto;
}

.container-img{
  margin-left: 200px;
  background-color: #f7f7f9 ;
  flex: 1;
}

.container-detalles-producto{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container.precio{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-precio span{
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.container-detalles-producto{
  padding: 30px 0;
}

.form-group{
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 15px;
}

.form-group label{
  width: 100px;
  color: gold;
  font-weight:700 ;

}

.form-group select{
  width: 300px;
  border: none;
  padding: 12px 15px;
  background-color: white;
  outline:none;
  color: #6a6a6a;

}

.btn-clean{
  border:none;
  background: none;
  color: white;
  margin-right: 500px;
  cursor: pointer;
}

.btn-clean:hover{
  color: gold
}

.btn-agregar-al-carro{
  display: auto;
  gap: 20px;
  padding-bottom: 50px;
  background:none;
  border:none;
  color: white;
  margin-top: 20px;
  text-decoration: none;
}

.btn-agregar-al-carro:hover{
  color: gold;
}

.title-descripcion{
  color: gold;
  padding: 10px 0;
  display: flex;
  
}

.text-descripcion{
  color: white;
  font-size: 19px;
  line-height: 22px;
  margin-top: 15px;
}

.container-relacionados h2{
  color: gold;
  text-align: center;
  
}


.card-relacionados{
  cursor:pointer;
}

.card-relacionados:hover{
  color: goldenrod;
  transform: scale(1.1);
}
.card-relacionados img{
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.info-card-relacionados{
  display:flex;
  justify-content: space-between;
}

.text-producto{
  color: white;
  font-weight: 300;
  line-height: 1.4;
}

.price{
  color: white;
  margin-right: 100px;
  
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-especifica {
  margin-bottom: 30px;
}

.card-body .form-group {
  margin-bottom: 15px;
}

.container-relacionados {
  padding: 20px;
}

.card-list-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 100px;
}

.card {
  flex: 1 1 calc(33.333% - 35px);
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 35px);
  }
}

@media (max-width: 576px) {
  .card {
    flex: 1 1 100%;
    margin-bottom: 35px;
  }
}

.navbar-brand{
  font-size: 45px !important;
  font-family: 'Kirsty';
  }
  
  .nav-item{
  font-size: 20px;
  font-family: 'Kirsty';
  }
  
  .dropdown-item{
  background-color: white;
  color: goldenrod;
  }